// Icon sidebar
.icon-sidebar {
  font-size: 20px;
  img {
    opacity: 0.5;
  }
}
.text-white > span > img {
  opacity: 1;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.package {
  span {
    letter-spacing: 2px;
  }
}
