.button-update {
  font-family: Montserrat;
  font-style: Medium;
  font-size: 14px;
  line-height: 22px;
  line-height: 129%;
  color: #ff993c;
}
.form-setting {
  img {
    width: 5px;
    transform: translateX(0);
  }
  .option {
    > img {
      width: 10px;
      transform: translateX(-25px);
    }
  }
}
.select-css {
  background: transparent;
  width: 176px;
}
